{
  "seed": 1
  "payloadsTotal": 1000
  "withRaw": true
  "withEnrichedTsv": true
  "withEnrichedJson": true
  "compress": true
  "payloadsPerFile": 1000
  "eventPerPayloadMin": 1
  "eventPerPayloadMax": 1
  "duplicates": {
    "natProb": 0.9
    "synProb": 0.9
    "natTotal": 0
    "synTotal": 1
  }
  "timestamps": {
    "type": "Fixed"
    "at": "2022-02-01T01:01:01z"
  }
}
