name: Snyk

on:
  push:
    tags:
      - '*'

jobs:
  security:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/scala@master
        with:
          command: monitor
          args: --project-name=snowplow-event-generator
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}